:root{
    --mainBackground:#2B2733;
    --textOnMainBackground : #CBC9CF;
    --headerCards : #46424D;
    --cardShadow: #26222D; 
    --textOnCards: #FFF;
    --study:#B3FD78;
    --meditate:#C278FD ;
    --exercise:#FD8078 ;
    --error:#EFB7EC;
}
/* ------------------------------------------Main  page styling------------------------------------------------------- */
html{
    background-color: var(--mainBackground);
    color:var(--textOnMainBackground);
}
body{
    margin : 0;
  }
  nav{
    margin : 0;
  }
  button {
    background-color: white;
    color: var(--headerCards);
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 30%;
    border-radius:5%;
    font-size: large;
  }
  .alignButtonRight
  {
    display: flex;
    flex-direction: row-reverse;
  }
#centerAlignNav {
    text-align: center;
    background-color: var(--headerCards);
    color:var(--textOnCards);
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
  }
  /* Control the left side */
.left {
    left:0;
    width: 65%;
  }
  /* Control the right side */
.right {
    right: 0;
    width: 33%;
    border: 0;
    outline: 0;
    background: transparent;
    border-left: 2px solid var(--textOnCards);
    padding-left:1%
  }

  .card {
    box-shadow: var(--cardShadow);
    margin-left: 2%;
    margin-right: 2%;
    background-color: var(--headerCards);
    color:var(--textOnCards);
    height: 70%;
    border-radius: 2%;
    padding: 5%;
  }
  
  #accomplish{
    background-color: var(--headerCards);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid var(--textOnCards);
  }
  .timeForm{
    background-color: var(--headerCards);
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid var(--textOnCards);
  }
  .loggedCard {
    box-shadow: var(--cardShadow);
    margin-right: 2%;
    background-color: var(--headerCards);
    color:var(--textOnCards);
    height: 10%;
    border-radius: 2%;
    padding-left: 1%;
  }
  .notVisible{
    display:none;
  }
  #circleStart {
    display:block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid;
    background-color: var(--headerCards);
    color:var(--textOnCards);
    font-size: xx-large;
  }
  #activeActivityScreen{
    display: flex;
    align-items: center;
    flex-direction:column;
    display:none;
  }
  
  
